    <h1>Burgers!</h1>

<h2>Burgers you may like to try...</h2>

<ul>
  {{#each burgers}}
    {{#unless not_delicious}}
      {{> burgers/burger-block not_delicious=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that were delicious!</h2>

<ul>
  {{#each burgers}}
    {{#if delicious}}
      {{> burgers/burger-block delicious=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Tell me your burger's name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="delicious">Delicious?</label><br>
    <input type="radio" name="delicious" value="1" checked> Delicious!<br>
    <input type="radio" name="not_delicious" value="0"> Not Delicious...  
  </div> 
  {{!-- possible hang-up --}}

  <button type="submit">Add a burger</button>
</form>

    
       {{!-- * Create the `index.handlebars` file inside `views` directory.

   * Create the `layouts` directory inside `views` directory.

     * Create the `main.handlebars` file inside `layouts` directory.

     * Setup the `main.handlebars` file so it's able to be used by Handlebars.

     * Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}
